@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 3%;
}
body {
  background-color: #f3f3f2;
  color: #100d08;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.content {
  font-size: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f3f3f2;
  padding: 20px;
  margin: 40px auto;
  width: 70%;
  min-height: 80vh;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  width: 5%;
  max-width: 30px;
  height: auto;
}


