@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --font-body: "Geist", sans-serif;
  --font-accent: "Lora", serif;
  --color-bg: #f4f1ec;
  --color-text: #0c121b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

a {
  color: var(color--text);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #0077b6;
}

.split-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  flex: 1;
  overflow: hidden;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-side {
  flex: 1;
  height: 100vh;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--color-bg);
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.content {
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

h3,
h4 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

p {
  font-family: var(--font-body);
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 0.4rem;
}

ul {
  list-style: none;
  margin-bottom: 0.5rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

#contact ul li img {
  width: 24px;
  height: 24px;
}

.project-list {
  margin-bottom: 0.8rem;
}

.project-list article {
  margin-bottom: 0.8rem;
}

#project a img {
  width: 17px;
  height: 17px;
}

strong {
  font-weight: 480;
}

#education ul {
  list-style: disc;
  margin-left: 1.5rem;
}

#education ul li {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.85rem;
  padding-top: 1rem;
  border-top: 1px solid #444;
}